<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="global.sesoc.bank.dao.MemberMapper">
	<insert id="insertCustomer" parameterType="Customer">
	insert into customer
	(
		custid
		,password
		,email
		,division
		,name
		,idno
		,address
	)
	values
	(
		#{custid}
		,#{password}
		,#{email}
		,#{division}
		,#{name}
		,#{idno}
		,#{address}
	)
	</insert>
	<select id="selectOne" parameterType="Customer" resultType="Customer">
	select 
		custid
		,password
		,email
		,division
		,name
		,idno
		,address
	from
		customer
	where
		custid=#{custid} and password=#{password}
	</select>
	<update id="updateOne" parameterType="Customer">
	update
		customer
	set
		email=#{email}
		,division=#{division}
		,name=#{name}
		,idno=#{idno}
		,address=#{address}
		<if test="password != '' ">
		,password=#{password}
		</if>
	where
		custid=#{custid}
	</update>
	<select id="selectPassword" parameterType="Customer" resultType="String">
	select
		password
	from
		customer
	where
		custid=#{custid}
	</select>
	<select id="findId" parameterType="Customer" resultType="String">
	select
		custid
	from
		customer
	where
		name=#{name} and email=#{email}
	</select>
	<select id="findPassword" parameterType="Customer" resultType="String">
	select
		password
	from
		customer
	where
		custid=#{custid} and name=#{name} and email=#{email}
	</select>
	<select id="idCheck" parameterType="String" resultType="String">
	select
		count(*)
	from
		customer
	where
		custid=#{custid}
	</select>
</mapper>